<!-- * Log In Page * -->
<!-- CSRF - protection so the session can't get stolen -->
<div class="row login-page">
  <div class="col m4 col md offset 4">
    {{# each language }}
    <h1>{{this.log_in}}</h1>
    {{#if ../hasErrors}}
      <div class="alert danger">
        {{# each ../messages }}
         <p>{{this}}</p> <!--print the error message -->
        {{/each}}
      </div>
    {{/if}}
    <form class="" action="/user/login" method="post">
      <div class="form-group">
        <label for="email">{{this.email}}</label>
        <input type="text" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">{{this.password}}</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <!-- sends the csrf token which allows server to identify browser & user correspond together-->
      <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
      <button type="submit" name="button" class="btn btn-primary">{{this.log_in}}</button>
    </form>
    <p>{{this.no_account}} <a href="/user/signup">{{this.sign_up_here}}</a></p>
    {{/each}}
  </div>
</div>
