<!-- * User Profile Page * -->
<div class="row user-profile">
  <div class="col m8 offset-m2">
    {{# each language}}
    <h1>{{this.my_account}}</h1>
    <hr>
    <!-- Display Orders  -->
    <h2>{{this.my_orders}}</h2>
    <!-- each card is 1 order -->
    {{# each ../order }}
      <div class="row">
        <div class="col s12 m8">
          <div class="card">
            <div class="card-content">
              <strong>Order #:</strong> {{this.orderNumber}}
              <ul class="collection">
                {{# each this.items }} <!-- looping through all items in current order -->
                  <li class="collection-item">
                    {{ this.item.title }} | {{this.size}} | Qty: {{ this.qty }}
                    <span class="badge"> ${{ this.price }}</span> <!-- this.price, qty, title all from models/cart.js -->
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="card-action teal lighten-3">
              <strong>Order Total: ${{ this.cart.totalPrice }}</strong>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    <a href="/">{{this.return_home}}</a>
    {{/each}}
  </div>
</div>
