<!-- * Shop Products by Category* -->

{{# each language}}
<!-- Side menu bar -->
<ul id="slide-out" class="sidenav sidenav-fixed">
  <!-- <li><strong>SHOP</strong></li> -->
    <li class="center"><a href="/"><i class="fas fa-home"></i></a></li>
    <li><a href="/shop/honey/{{languageCode}}">{{this.honey}}</a></li>
    <li><a href="/shop/mistletoe/{{languageCode}}">{{this.mistletoe}}</a></li>
    <li><a href="/shop/salt/{{languageCode}}">{{this.salt}}</a></li>
    <li><a href="/shop/propolis/{{languageCode}}">{{this.propolis}}</a></li>
    <li><a href="/shop/all/{{languageCode}}">{{this.shop_all}}</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<!-- Products -->
<div class="row center shopall">
 <h3 class="category-title">{{../categoryTitle}}</h3>
 <!-- hashtag indicates a block statement; the each loop loops through all the products -->
 {{# each ../categories}}
   <div class="container">
     <div class="col s12 m4">
       <div class="card medium">
         <div class="card-image">
           <a href="/product/{{this._id}}/{{../languageCode}}" class="products-link">
           <!-- imagePath is coming from within the products object in mlab -->
           <img class="responsive-img" src="../../{{ this.imagePath }}">
           <!-- <span class="card-title">Card Title</span> -->
         </div>
         <div class="card-content">
           <p>{{this.title}}</p>
           <p>${{this.price}}</p>
         </div>
          </a>
         <div class="card-action">
           <!-- value is what shows on the button -->
           <a href="/product/{{this._id}}/{{../languageCode}}"><button type="cart" name="addToCart" value="Add To Cart" class="btn pink">{{../go_to_details}}</button></a>
         </div>
       </div>
     </div>
   </div>
{{/each}}
</div>

{{/each}}
