<!-- * Single Product Page * -->

{{# each language}}
<!-- Page Breadcrumbs -->
 {{# each ../product}}
<nav>
    <div class="nav-wrapper breadcrumb-bar">
      <div class="col s12">
        <a href="/shop/all/{{../languageCode}}" class="breadcrumb">{{../this.shop}}</a>
        <a href="/shop/{{this.category}}/{{../languageCode}}" class="breadcrumb category">{{this.category}}</a>
        <a href="/product/{{this._id}}/{{../languageCode}}" class="breadcrumb">{{this.title}}</a>
      </div>
    </div>
  </nav>

<!-- Product -->
<div class="row center product-page">
   <div class="container container-product-page">
     <div class="col s12 m4">
       <div class="product-image">
         <img class="responsive-img" src="../../{{ this.imagePath }}">
       </div>
     </div>
     <!-- <div class="container product-info"> -->
       <div class="col s12 m4">
         <div class="content">
           <h4 class="product-title">{{this.title}}</h4>
           <p class="product-price">${{this.price}}</p>
           <p class="product-description">캘리포니아 양봉장에서 직접 채취한 100% 천연 토종꿀</p>
         </div>
      </div>
      <div class="col s12 m4">
        <div class="product-options-buy">
          <form action="/add-to-cart/{{this._id}}" method="POST">
            <!-- Size option -->
            <label class="left">{{../this.size_option}}:</label>
            <br />
           <select required name="size" class="browser-default size-options" id="size-option">
             <option value="" disabled selected>{{../this.choose_option}}</option>
             <option value="{{this.attributes.size1}}" id="sizeoptt1">{{this.attributes.size1}}</option>
             <option value="{{this.attributes.size2}}">{{this.attributes.size2}}</option>
             <!-- <option value="3">1/2 gallon</option>
             <option value="3">1 gallon</option> -->
           </select>

           <!-- Quantity option -->
           <label class="left">{{../this.quantity}}:</label>
           <br>
          <select name="qty" class="browser-default quantity" id="quantity-options">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
          </select>

          <br />

          <div class="card-action">
            <!-- value is what shows on the button -->
          <button type="submit" class="btn pink left" id="btnsize">Add</button>
          </div>
          </form>

      </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col s12 m4">
         <div class="card-action">
           <! value is what shows on the button -->
           <!-- <a href="/add-to-cart/{{this._id}}"><button type="cart" name="addToCart" value="Add To Cart" class="btn pink">Add To Cart</button></a>
         </div>
       </div> -->
     </div>
   </div>
{{/each}}
</div>
{{/each}}
