<!-- * Single Product Page * -->

<!-- Page Breadcrumbs -->
 {{# each product}}
<nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="/shop/all" class="breadcrumb">Shop All</a>
        <a href="/shop/{{this.category}}" class="breadcrumb category">{{this.category}}</a>
        <a href="/product/{{this._id}}" class="breadcrumb">{{this.title}}</a>
      </div>
    </div>
  </nav>

<!-- Product -->
<div class="row center product-page">
   <div class="container">
     <div class="col s12 m4">
       <div class="product-image">
         <img class="responsive-img" src="../{{ this.imagePath }}">
       </div>
     </div>
     <div class="container product-info">


       <div class="col s12 m4">
         <div class="content">
           <h4 class="product-title">{{this.title}}</h4>
           <p class="product-price">${{this.price}}</p>
           <p class="product-description">Description</p>
  <!-- Size option -->
  <label>Size:</label>
 <select class="browser-default">
   <option value="" disabled selected>Choose your option</option>
   <option value="1">Option 1</option>
   <option value="2">Option 2</option>
   <option value="3">Option 3</option>
 </select>

 <!-- Quantity option -->
 <label class="left">Quantity:</label>
 <br>
<select class="browser-default quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="3">4</option>
  <option value="3">5</option>
  <option value="3">6</option>
  <option value="3">7</option>
  <option value="3">8</option>
  <option value="3">9</option>
  <option value="3">10</option>
</select>

<div class="card-action">
  <!-- value is what shows on the button -->
  <a href="/add-to-cart/{{this._id}}"><button type="cart" name="addToCart" value="Add To Cart" class="btn pink">Add To Cart</button></a>
</div>
         </div>
      </div>
      </div>
      <!-- <div class="col s12 m4">
         <div class="card-action">
           <! value is what shows on the button -->
           <!-- <a href="/add-to-cart/{{this._id}}"><button type="cart" name="addToCart" value="Add To Cart" class="btn pink">Add To Cart</button></a>
         </div>
       </div> --> 
     </div>
   </div>
{{/each}}
</div>
