<!--* Shopping Cart Page *-->


{{# if products}}

<div class="row shopping-cart">
  <div class="col s6 m6">
    <h2><i class="fa fa-shopping-cart"></i> SHOPPING CART</h2>
    <ul class="collection">
      {{# each products}}
      <li class="collection-item cart-list">
        <strong>{{ this.item.tempTitle }}</strong>
        <span class="label label-success">${{ this.singleItemTotal }} | </span> 
        <span id="size-options">Size: {{this.size}}</span> <!-- size is referring to cart.js, storedItem = {size:} -->
        <span class="badge">
          <a href="/reduce/{{this.otherId}}"><i class="fas fa-minus"></i></a>
          {{ this.qty }}
          <a href="/add-one-cart/{{this.otherId}}"><i class="fas fa-plus"></i></a>
          <br/><br/>
          <button type="button" name="button" class="btn white secondary-content"><a href="/remove/{{this.otherId}}">Remove</a></button>
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
 </div>

  <div class="row">
    <div class="col s6 m6">
      <strong>Total: ${{ totalPrice }}</strong>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s6 m6">
      <a href="/cart/checkout"><button type="button" name="button" class="btn btn-success">Checkout</button></a>
    </div>
  </div>

{{ else }}
<!-- don't display anything if there's 0 items in cart -->
<div class="row">
  <div class="col s6 m6">
    <h2>No Items in Cart</h2>
  </div>
</div>

{{/if}}

<a href="/{{languageCode}}">Continue Shopping</a>
